/*Animation*/
@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/*Main CSS*/

html,
body {
    margin: 0;
}

label {
    margin-top: 10px;
    display: block;
}

label,
textarea {
    margin-bottom: 10px;
}

.tab-group {
    list-style: none;
}

.tab-group li a,
a,
a.index {
    text-decoration: none;
}

.tab-group:after,
.top-row:after {
    content: "";
    clear: both;
}

.button,
.tab-group li a,
div.info {
    text-align: center;
}

#text,
.send-button {
    vertical-align: middle;
}

.field-wrap,
html {
    position: relative;
}

body {
    animation: fadein 2s;
    font-family: 'Roboto', sans-serif;
    color: #1C1C1C;
    background-color: #E6ECF0;
    background-image: url("https://www.ryan-simms.com/images/DSC00944.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
}

body.dark {
    color: #FFF;
    background-color: #10171E;
}

nav {
	font-size: 22px;
    background-color: #FFFFFFBF;
    z-index: 1;
    border-radius: 0 0 10px 10px;
    border-bottom: solid 0.5px;
    height: 65px;
    display: flex;
    justify-content: space-between;
}

nav.dark {
    background-color: #15202BBF;
    border-bottom: solid 0.5px;
}

.nav-logo {
    margin-left: 20px;
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-logo img {
    height: 30px;
}

.nav-main {
    width: fit-content;
}

.nav-main a {
    margin: 0 10px;
}

.nav-sm {
    display: flex;
    align-items: center;
    width: fit-content;
}

.nav-sm a {
    margin: 0 10px;
}

.nav-sm.dark { 
    filter: invert(1);
}

.instagram {
    width: 40px;
    height: 40px;
    background-image: url("https://parspng.com/wp-content/uploads/2021/09/pngwing.com-4.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.linkedin {
    width: 40px;
    height: 40px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/49/49656.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#lightSwitch {
    width: 40px;
    height: 40px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/44/44754.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: transparent;
    user-select: none;
    font-size: 1px;
    cursor: pointer;
}

.logo {
    position: absolute;
    top: 0;
}

#logo {
    position: absolute;
    top: 40px;
    border: 0;
    left: 30px;
    margin-left: 10px;
    width: 100px;
    height: 100px;
}

a {
    font-weight: bold;
    color: #0084B4;
}

a:hover {
    color: #0084B4;
}

a.dark {
    color: #02C0FA;
}

#backToTop {
    position: fixed;
    width:75px;
    height:56px;
    bottom: 120px;
    right: 50px;
    opacity: 0.5;
    z-index: 1;
    background-image: url("https://www.ryan-simms.com/images/icons/totop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:5px;
}

.wrapper {
	font-size: 40px;
    margin: 10px;
    padding: 25px;
    background-color: #FFFFFF;
    border: solid 1px;
    border-radius: 5px;
    overflow: auto;
    display: flex;
    align-items: center;
	position: relative;
}

.wrapper.dark {
    background-color: #15202B;
}

/* .wrapper div {
    height: 100%;
} */

.wrapper img {
    max-width: 450px;
    max-height: 300px;
}

.wrapper-fixed {
  position: fixed !important;
  top: 0 !important;
  left: 0;
  right: 0;
}

.content {
    padding: 0 10px 0 10px;
}

textarea {
    padding: 10px;
    border: 1px solid #1C1C1C;
    border-radius: 2px;
    resize: none;
}

input {
    border: 1px solid #1C1C1C;
    border-radius: 2px;
    padding: 5px
}

a.index {
    color: #FFF;
    -webkit-transition: .5s ease;
    transition: .5s ease
}

.form {
    padding: 40px;
    max-width: 1000px;
    margin: 40px auto;
    border: solid 1px;
    border-radius: 4px;
}

.tab-group {
    padding: 0;
    margin: 0 0 40px
}

.tab-group:after {
    display: table
}

.tab-group li a {
    display: block;
    padding: 15px;
    background: #0084B4;
    opacity: 0.5;
    color: #FFF;
    font-size: 20px;
    float: left;
    width: 50%;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease
}

.tab-group li a:hover {
    background: #0084B4;
}

.tab-group .active a {
    background: #0084B4;
    opacity: 1;
}

.button,
.send-button {
    outline: 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    -webkit-appearance: none
}

div.info {
    color: pink;
    display: box;
    padding: 5px;
    margin-top: -20px;
    margin-bottom: 15px;
    border: 1px solid red;
    background: #66131c
}

.req {
    margin: 2px;
    color: red;
}

.active.req {
    opacity: 0
}

.field-wrap {
    margin-bottom: 40px
}

.top-row:after {
    display: table
}

.top-row > div {
    float: left;
    width: 46%;
    margin-right: 8%
}

.top-row > div:last-child {
    margin: 0
}

.button {
    border: 0;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    background: #0084B4;
    color: #fff;
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}

.button:focus,
.button:hover {
    background: #00afef;
    cursor: pointer;
}

.button-block {
    display: block;
    width: 100%
}

label.index {
    text-align: center;
    margin: 0 0 50px
}

input.index,
textarea.index {
    font-size: 22px;
    display: block;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #a0b3b0;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease
}

input.index:focus,
textarea.index:focus {
    outline: 0;
    border-color: #0084B4
}

textarea.index {
    border: 2px solid #a0b3b0;
    resize: vertical
}

#text {
    border: 1px solid #000;
    width: 700px;
    height: 40px;
    padding: 10px;
    margin-top: 12px
}

.send-button,
.twitter-button {
    border: 0;
    -webkit-transition: all .5s ease
}

.send-button {
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background-color: #0084B4;
    transition: all .5s ease;
    margin-top: 15px
}

.twitter-button {
    border-radius: 5px;
    background-color: #0084b4;
    transition: all .5s ease
}

.facebook-button {
    border: 0;
    border-radius: 5px;
    background-color: #3b5998;
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}

.first,
.last,
.next,
.prev {
    position: absolute;
    margin-top: -30px
}

.first {
    left: 35px
}

.prev {
    left: 95px
}

video {
    max-width: 80%;
    margin: 0 auto;
    display: block;
}

.star {
    opacity: .5;
    width: 50px;
    height: 50px;
}

#cookies {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    text-align: center;
    z-index: 1;
    height: 8%;
    width: 100%;
    background-color: #FFF;
    padding-left: 30px;
    border-top: solid 0.5px black;
}

#cookies.dark {
    background-color: #15202B;
    border-top: solid 0.5px;
}

#cookie-button {
    width: 100px;
    border: 0;
    border-radius: 0;
    padding: 5px;
    margin-left: 10px;
    font-size: 20px;
    background: #0084B4;
    color: #fff;
}
